@model ControleContentoresV2.Models.movimentacao

@{

    var nome = Model.rt_load;

    ViewBag.Title = "Detalhes da RT " + nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>RT @nome  </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("RT LOAD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rt_load)
        </dd>

        <dt>
            @Html.DisplayName("DT LOAD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_load)
        </dd>

        <dt>
            @Html.DisplayName("ID").ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_embalagem)
        </dd>

        <dt>
            @Html.DisplayName("NOME PRODUTO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produtoQuimico.nomeProduto)
        </dd>

        <dt>
            @Html.DisplayName("SITUAÇÃO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacao.situacao1)
        </dd>

        <dt>
            @Html.DisplayName("VOLUME").ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume.qtdeVolume)
        </dd>

        <dt>
            @Html.DisplayName("DT USO")
        </dt>

        @{
            var situacao = Model.situacao.situacao1;

            if (situacao == "CHEIO")
            {
                <dd>
                    @Html.DisplayName("EM USO")
                </dd>

            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.dt_uso)
                </dd>

            }

        }



        <dt>
            @Html.DisplayName("RT BACKLOAD")
        </dt>

        @{

            if (situacao == "CHEIO")
            {
                <dd>
                    @Html.DisplayName("EM USO")
                </dd>

            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.rt_backload)
                </dd>

            }

        }


        <dt>
            @Html.DisplayName("DT BACKLOAD")
        </dt>

        @{

            if (situacao == "CHEIO")
            {
                <dd>
                    @Html.DisplayName("EM USO")
                </dd>

            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.dt_backload)
                </dd>

            }

        }

        <dt>
            @Html.DisplayName("COMENTÁRIO")
        </dt>

        @{

            if (situacao == "CHEIO")
            {
                <dd>
                    @Html.DisplayName("EM USO")
                </dd>

            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.comentario)
                </dd>

            }

        }


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retornar para lista", "Index")
</p>
