@model IEnumerable<ControleContentoresV2.Models.movimentacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var countFull = 0;
    var countEmpty = 0;
    var inflectionEmpty = "vazio";
    var inflectionFull = "cheio";
    var condictionEmpty = "";
    var condictionFull = "";


    foreach (var item in Model)
    {
        if (item.situacao.situacao1 == "CHEIO")
        {
            countFull++;
        }

        if (item.situacao.situacao1 == "VAZIO")
        {
            countEmpty++;
        }
    }

    if (countFull > 1)
    {
        inflectionFull = "cheios";
        condictionFull = countFull + " " + inflectionFull;
    }
    else
    {
        condictionFull = countFull + " " + inflectionFull;
    }

    if (countEmpty > 1)
    {
        inflectionEmpty = "vazios";
        condictionEmpty = countEmpty + " " + inflectionEmpty;
    }
    else
    {
        condictionEmpty = countEmpty + " " + inflectionEmpty;
    }
}

<h2>Panorama de contentores a bordo - @condictionFull e @condictionEmpty</h2>

<div class="row " style="border: 1px double; text-align: center; display: contents; justify-content:  space-around ;">

    @{
        if (Model != null)
        {


            foreach (var mov in Model)
            {
                if (mov.idSituacao == 1 || mov.idSituacao == 2)
                {

    <div class="col col-md-2" style=" border: 2px double; height: 240px; width: 170px; margin: 5px; border-radius: 15px; ">

        <div style="height: 80px; font-size: 20px; padding: 10px;">
            <p>@mov.produtoQuimico.nomeProduto.ToString()</p>
        </div>
        <div style="height: 40px; padding: 10px">
            <p>@mov.id_embalagem</p>
        </div>
        <div style="height: 40px; padding: 10px">
            <p>@mov.dt_load.ToShortDateString()</p>
        </div>


        @if (mov.situacao.situacao1 == "CHEIO")
        {
            <div style="background-color: green; padding: 10px; color: white; height: 40px; padding-top: 0; position: relative">
                <p style="padding: 8px; font-size: 16px;">CHEIO</p>
            </div>
            <div style="padding: 8px">
                @Html.ActionLink(" ", "../EsgotarContentor/Edit", new { id = mov.id }, new { @class = "glyphicon glyphicon-ban-circle", style = "color: white; margin: 0 8px 0 8px;", title = "Esgotar refil" })
            
            
                @Html.ActionLink(" ", "../EmprestarContentor/Edit", new { id = mov.id }, new { @class = "glyphicon glyphicon-forward", style = "color: white; margin: 0 8px 0 8px;", title = "Emprestar produto" })
            </div>

        }
        else
        {
            if (mov.situacao.situacao1 == "VAZIO")
            {
                <div style="background-color: red; padding: 10px; color: white; height: 40px; padding-top: 0; position: relative">
                    <p style="padding: 8px; font-size: 16px;">VAZIO</p>
                </div>
                <div style="padding: 8px">
                    @Html.ActionLink(" ", "../RetornoContentor/Edit", new { id = mov.id }, new { @class = "glyphicon glyphicon-log-out", style = "color: white; margin: 0 8px 0 8px;", title = "Devolver refil" })
                </div>

            }

        }



    </div>
                }
            }
        }
        else
        {
            <div style="text-align: center;">
                <h3>Não há nenhuma lista disponível</h3>
            </div>
        }
    }
</div>
