@model ControleContentoresV2.Models.produtoQuimico

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar</h2>

<h3>Você deseja realmente apagar o produto @Html.DisplayFor(model => model.nomeProduto)?</h3>
<div style="position: center;">
    <!--
    <h4>produtoQuimico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nmProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.funcaoProduto.funcaoProduto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcaoProduto.funcaoProduto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.status1)
        </dd>

    </dl>

        -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



    <div class="form-actions no-color">
        <input type="submit" value="SIM" class="btn btn-default btn-danger"  style="width: 80px;"/>        ||

        @Html.ActionLink("NÃO", "Index", null, new { @class = "btn btn-default btn-success", style = "width: 80px;" })

    </div>
      
    }
</div>
