@model ControleContentoresV2.Models.produtoQuimico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto Químico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("NM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmProduto)
        </dd>

        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>

        <dt>
            @Html.DisplayName("Função")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcaoProduto.funcaoProduto1)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.status1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProduto }) |
    @Html.ActionLink("Retornar à lista", "Index")
</p>
