@model IEnumerable<ControleContentoresV2.Models.produtoQuimico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos Químicos</h2>

<p>
    @Html.ActionLink("Adicionar Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("NM")
        </th>
        <th>
            @Html.DisplayName("NOME")
        </th>
        <th>
            @Html.DisplayName("FUNÇÃO")
        </th>
        <th>
            @Html.DisplayName("STATUS")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nmProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.funcaoProduto.funcaoProduto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.status1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProduto }) |
            @Html.ActionLink("Detailhes", "Details", new { id=item.idProduto }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.idProduto })
        </td>
    </tr>
}

</table>
